
.video-data-container {
    display: flex;
    flex-wrap: wrap;
}

.thumbnail-container {
    width: 50%;
}

.thumbnail-container img {
    width: 100%;
    height: auto;
}

.total-comments, .total-likes, .total-replies {
    margin-right: 1em;
}

@media screen and (max-width: 480px) {
    .video-data-container {
        flex-direction: column;
    }

    .title {
        order: -1;
    }
}
