.video-data-container {
    /*display: flex;
    flex-wrap: wrap;*/
}

.video-data-container h2 {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}

.thumbnail-container {
    width: 50%;
    float: left;
    padding-right: .5em;
}

.thumbnail-container img {
    width: 100%;
    height: auto;
}

.total-comments, .total-likes, .total-replies {
    margin-right: 1em;
}

@media screen and (max-width: 480px) {
    .video-data-container {
        flex-direction: column;
    }

    .title {
        order: -1;
    }
}
